DATABASE_URL="postgresql://neondb_owner:[password]@ep-delicate-sun-a17693ml-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require"
BACKEND_URL=http://localhost:3000
UI_URL=http://localhost:8080

PORT = 3000


JWT_EXPIRES_IN=1h
JWT_SECRET=your-secret-key

REFRESH_TOKEN_SECRET = your_refresh_secret
REFRESH_TOKEN_EXPIRES_IN = 7d
